.card.profile img {
    border-radius: 50%;
}

.card.profile .name-and-pic {
    text-align: center;
    /* align-items: center; */
    /* display: flex; */
}

.card.profile p, .card.profile input, button {
    font-family: "Lato", "sans-serif";
}