.search .collapse .input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.search h3 {
    font-family: "Oswald", "sans-serif";
}

.search p {
    font-family: "Lato", "sans-serif";
}

.search .sidebar {
    height: calc(100vh - 50px);
    padding: 1rem;
    /* overflow-y: scroll; */
    /* background-color: #fafbfa; */
}